annotated-types
anyio
asyncio
certifi
click
colorama
coverage
fastapi
h11
httpcore
httptools
httpx
idna
iniconfig
jinja2
markupsafe
packaging
pip
pluggy
pydantic
pydantic-core
pytest
pytest-asyncio
pytest-cov
pytest-repeat
python-dotenv
pyyaml
ruff
setuptools
sniffio
starlette
typing-extensions
uvicorn
watchfiles
websockets
