<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>
<h1 id="ltest">This will change</h1>
<button hx-get="/blog_switch" hx-trigger="click" hx-target="#ltest" hx-swap="innerHTML">
    Click Me!
</button>


</html>