<div class="image-fluid">
    <p style=text-align:top;><strong>{{player.name}}</strong> coins - {{player.coins}}</p>
    {% if checkbox_required %}
    <form hx-ws="send" hx-target="table">
        <div class="card-container">
            {% for card in cards %}
            <input type="checkbox" name="cardnames" value="{{card.value}}" id="{{card.card_number}}">
            {% if card.card_number != 'X' %}
            <label for="{{card.card_number}}">
                {% endif %}
                <img src="/static/jpg/{{card.display}}.jpg" {{card.value}} style="opacity:{{card.opacity}};>">
            </label>
            {% endfor %}
    </form>
    {% if discard_prompt %}
    <p> Which card(s) do you want to discard?</p>
    <input type="submit" id="test" value="Submit">
    {% endif %}
    {% else %}
    <div class="card-container">
        {% for card in cards %}
        <img src="/static/jpg/{{card.display}}.jpg" {{card.value}} style="opacity:{{card.opacity}};>">
        {% endfor %}
        {% endif %}
    </div>
</div>