<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkbox Card</title>
</head>
<link href="/static/css/site.css" rel="stylesheet">

<body>
    <form hx-ws="send" hx-target="cards">
        <div class="card-container">
            <input type="checkbox" name="cardnames" value="card1" id="card-card1">
            <label for="card-card1">
                <img src="/static/jpg/duke.jpg" alt="Card 1">
            </label>
            <input type="checkbox" name="cardnames" value="card2" id="card-card2">
            <label for="card-card2">
                <img src="/static/jpg/duke.jpg" alt="Card 2">
            </label>
        </div>
        <p> Which cards do you want to discard?</p>
        <input type="submit" id="test" value="Submit">
    </form>
</body>