<!DOCTYPE html>
<html>
  <head>
    <!-- include htmx -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
  </head>

  <body>
    <h1>Hello world</h1>

    <!-- websocket connection -->
    <div hx-ext="ws" ws-connect="ws://localhost:8000/ws/3">
      <!-- input for new messages, send a message to the backend
      via websocket -->
      <form ws-send="">
        <input name="chat_message" />
      </form>
    </div>

    <!-- location for new messages from the server -->
    <div id="content"></div>

  </body>
</html>