<!DOCTYPE html>
<html lang="en">

<head>
    <title>User {{user_id}}</title>
</head>

<script src="https://unpkg.com/htmx.org@1.9.4"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
    <div class="container">
        <div class="row">

            <div class="col-2" class="d-flex justify-content-start" id="notifications" hx-swap-oob="beforeend">
                <div hx-ws="connect:/ws/{{user_id}}">
                    <h1> User {{user_id}} </h1>
                    <form hx-ws="send" hx-target="notifications">
                        <input name="user_name">
                        <input name="message_txt">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="col-9" id="photo">
                <img src="/static/jpg/contessa.jpg" alt="countessa">
                <img src="/static/jpg/contessa.jpg" alt="countessa">
            </div>
        </div>


    </div>
    </div>
</body>

</html>