<!DOCTYPE html>
<html lang="en">

<head>
    <title>HTMX Client {{room_id}}</title>
</head>

<script src="https://unpkg.com/htmx.org@1.9.4"></script> 
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>

<body>

<div hx-ws="connect:/ws/{{room_id}}">

<h1> You are in room {{room_id}} </h1>

<form hx-ws="send"  hx-target="notifications">
        <input name="user_name">
        <input name="message_txt">
        <input type="submit" value="Submit">
    </form>
  </div>
    
<div id="notifications" hx-swap-oob="beforeend">
    New message received
</div>

<div id="private_message">
This is where the private message goes
</div>

<div id="photo">
    <img src="/static/jpg/contessa.jpg" alt="countessa">
</div>

</body>
</html>