<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<div id="swap" hx-get="/swapped" hx-target="#heading"><i>Swap Page</i>
    <h1 id="heading">This is the main page</h1>
</div>

<br>

<a href="/blog">Blog</a>

</html>