<!DOCTYPE html>
<html lang="en">

<head>
    <title>Joke</title>
</head>

<script src="https://unpkg.com/htmx.org@1.9.4"></script> 
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>


<button
  hx-get="/htmx"
  hx-target="#joke-container"
>
  Make me laugh!
</button>

<p id="joke-container">Click the button to load a joke...</p>


<div hx-ext="ws" ws-connect="/ws/3">
    

<form hx-ws="send">
        <input name="user_name">
        <input name="message_txt">
        <button
        hx-target="#notifications"
         type="submit">Submit
        </button>
    </form>
  </div>
    
<div id="notifications" hx-swap-oob="beforeend">
    New message received
</div>