<div id="notifications" class="col-2">
    {% include './turn.html' %}
    {% for action in actions %}
    {% if 'disabled' == action.action_status %}
    {% set visible = "hidden" %}
    {% endif %}
    <div class="mb-2" id="{{action}}">
        <form hx-ws="send" hx-target="#actions">
            <input type="hidden" name="user_name" value={{user_id}}>
            <input type="hidden" name="message_txt" value={{action}}>
            <input type="submit" value="{{action}}" {{action.action_status}} {{visible}}>
            <label class="labelClass" {{visible}} for="submit">{{action.text}}</label>
        </form>
    </div>
    {% endfor %}
    <br>
    <button hx-get="/web/1/Income">Income from hx-get</button>
</div>