<div id="notifications" class="col-2">
    <!-- <div id="game_status">
        <h4>{{user_name}} - {{game_status}}</h4>
    </div> -->
    <div id="turn">
        <h4>{{turn}}</h4>
    </div>
    <br><br>
    <p id="user{{user_id}}"></p>
    {% for action in actions %}
    {% if 'disabled' == action.action_status %}
    {% set visible = "hidden" %}
    {% endif %}
    <div id="{{action}}">
        <form hx-ws="send" hx-target="#actions">
            <input type="hidden" name="user_name" value={{user_id}}>
            <input type="hidden" name="message_txt" value={{action}}>
            <input type="submit" value={{action}} {{action.action_status}} {{visible}}>
        </form>
    </div>
    {% endfor %}
    <br>