<div class="col-4" id="rules">

    <img src='/static/jpg/rules.jpg' style="width:375px;">
    <!-- These are the rules:

    Duke: Take three coins from the treasury. Block someone from taking foreign aid.
    Assassin: Pay three coins and try to assassinate another player's character.
    Contessa: Block an assassination attempt against yourself.
    Captain: Take two coins from another player, or block someone from stealing coins from you.
    Ambassador: Draw two character cards from the Court (the deck), choose which (if any) to exchange with your
    face-down
    characters, then return two. Block someone from stealing coins from you. -->
</div>